# -*- conf -*-
# flake8 settings for hatchet
#
# These are the flake8 settings recommended by Black
# See https://github.com/psf/black
#
[flake8]
max-line-length = 88
select = C,E,F,W,B,B950
ignore = E501,W503,E203
builtins = IPython
