branches:
  only:
    - develop

jobs:
  fast_finish: true
  include:
    - stage: "style check"
      python: '3.7'
      os: linux
      language: python
      script:
        - black --diff --check .
        - flake8
    - stage: "unit tests"
      python: '2.7'
      os: linux
      language: python
    - python: '3.5'
      os: linux
      language: python
    - python: '3.6'
      os: linux
      language: python
    - python: '3.7'
      os: linux
      language: python
    - python: '3.8'
      os: linux
      language: python

install:
  - pip install --upgrade -r requirements.txt
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.7" ]]; then
        pip install --upgrade black;
    fi
  - python setup.py install
  - pip list

script:
  - PYTHONPATH=. coverage run $(which pytest)
  - cd $TRAVIS_BUILD_DIR
  - echo -e "TRAVIS_BUILD_DIR:" ${TRAVIS_BUILD_DIR}
  - echo -e "PWD:" ${PWD}
  - git clone https://github.com/LLNL/Caliper.git
  - cd Caliper
  - mkdir build && mkdir install
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=../install ../
  - make VERBOSE=1
  - make install
  - export PATH=${PWD}/../install/bin:${PATH}
  - echo -e "PATH=" ${PATH}
  - cd ../../
  - echo -e "PWD:" ${PWD}
  - which cali-query
  - PYTHONPATH=. coverage run $(which pytest)

after_success:
  - codecov --env PYTHON_VERSION --required --flags "${TEST_SUITE}${TRAVIS_OS_NAME}"

notifications:
  email:
    recipients:
      - bhatele@llnl.gov
      - brink2@llnl.gov
    on_success: change
    on_failure: always
